<h1><%= message %></h1>
<h2><%= error.status %></h2>
<!--<pre><%= error.stack %></pre>
bu kısmı silmemiz lazım çünkü hatanın içeriğini gösteriyor bu da güvenlik açıklığına neden olur
npm audit ile ne kadar hatanın(açığın) olduğunu görürüz
-->
